/* ==================== General styles ==================== */
/* ==================== General mobile styles ==================== */
body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 320px;
  padding: 0 16px;
}

.section {
  padding: 96px 0;
}
/* ==================== /General mobile styles ==================== */

/* ==================== General tablet styles ==================== */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* ==================== /General tablet styles ==================== */

/* ==================== General desktop styles ==================== */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .section {
    padding: 120px 0;
  }
}
/* ==================== /General desktop styles ==================== */
/* ==================== /General styles ==================== */

/* ==================== Page header styles ==================== */
/* ==================== Header mobile styles ==================== */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 17px 0;
}

.logo-header {
  color: #2e2f42;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: none;
}

.contacts {
  display: none;
}

@media screen and (max-width: 767px) {
  .open-menu-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .open-menu-btn:hover,
  .open-menu-btn:focus {
    fill: #404bbf;
  }
}

/* ==================== /Header mobile styles ==================== */

/* ==================== Header tablet styles ==================== */
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .open-menu-btn {
    display: none;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .active {
    position: relative;
    color: #404bbf;
  }

  .active::after {
    content: '';
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .contacts {
    display: block;
    font-style: normal;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-contacts {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-contacts:hover,
  .header-contacts:focus {
    color: #404bbf;
  }
}
/* ==================== /Header tablet styles ==================== */

/* ==================== Header desktop styles ==================== */
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-contacts {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* ==================== /Header desktop styles ==================== */
/* ==================== /Page header styles ==================== */

/* ==================== Main content styles ==================== */
/* ==================== Hero mobile styles ====================*/
.hero-section {
  background: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img/office-mobile-min.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 767px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img/office-mobile@2x-min.jpg);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 156px;
  margin: 0 auto 80px auto;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  min-width: 169px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  line-height: 1.5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* ==================== /Hero mobile styles ====================*/

/* ==================== Hero tablet styles ====================*/
@media screen and (min-width: 768px) {
  .hero-section {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img/office-tablet-min.jpg);
    max-width: 1157px;
  }

  @media screen and (max-width: 1157px) and (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-img/office-tablet@2x-min.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px auto;
  }
}
/* ==================== /Hero tablet styles ====================*/

/* ==================== /Main content styles ==================== */
